# Variables de entorno para Vercel
SUPABASE_URL=tu_supabase_url
SUPABASE_ANON_KEY=tu_supabase_anon_key
RESEND_API_KEY=re_SDodSAvq_3mV4Kb5bTxZX6gQV7CBE6Lrh
ALLOWED_ORIGINS=https://certificacion.superozonoglobal.com
